<include file="Public/min-header" />
<div class="wrapper">
	<include file="Public/breadcrumb"/>
	<section class="content">
       <div class="row">
       		<div class="col-xs-12">
	       		<div class="box">
	             <div class="box-header">
	           	   <nav class="navbar navbar-default">	     
				      <div class="collapse navbar-collapse">
	    				<div class="navbar-form form-inline">
				            <div class="form-group">
				            	<p class="text-success margin blod">厂家:</p>
				            </div>
				             <div class="form-group">
                                 <a class="btn btn-info" href="{:U('Factory/index')}">厂家列表</a>&nbsp;&nbsp;&nbsp;&nbsp;                                            
                                 
				            </div>			          
				            <div class="form-group pull-right">
					            <a href="{:U('Factory/add')}" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> 新增厂家</a>
				            </div>	
				          </div>
				       </div>
	    		 	</nav>	
	               	<nav class="navbar navbar-default">	     
				        <div class="collapse navbar-collapse">
				          <form class="navbar-form form-inline" action="{:U('Factory/index')}" method="post">

				           <div class="form-group">
				              	<input type="text" name="user_name" class="form-control" placeholder="用户名称" value="{$user_name}">
				            </div>
				            <div class="form-group">
				            	<label class="control-label" for="input-order-id">厂家申请状态</label>
				            	 <select name="status" class="form-control">
				            	 	   <option>选择状态</option>
				            	 	   <option value="2">未审核</option>
									   <option value="1">已审核</option>
                                 </select>   
				            </div>

				            <div class="form-group">
				              	<input type="text" name="name" class="form-control" placeholder="请输厂家名称" value="{$name}">
				            </div>
				            <button type="submit" class="btn btn-primary">查询</button>	          
				          </form>
				      	</div>
	    			</nav>
	             </div>
	             <div class="box-body">
	           	 <div class="row">
	            	<div class="col-sm-12">
		              <table id="list-table" class="table table-bordered table-striped dataTable">
		                 <thead>
		                   <tr role="row">
                               <th>厂家名称</th>
			                   <th>用户名称</th>	
			                   <th>联系电话</th>	                   
			                   <th>身份证</th>
                               <th>进驻日期</th>
			                   <th>状态</th>
		                  	   <th>操作</th>
		                   </tr>
		                 </thead>
						<tbody>
                          <foreach name="list" item="vo" key="k" >
                             <tr role="row">    
                             <td>{$vo.name}</td>
		                     <td>{$vo.user_name}</td>	                    
		                     <td>{$vo.mobile}</td>
		                     <td>{$vo.shenfen}</td>                                     
		                     <td>{$vo.time|date='Y-m-d',###}</td>
		                     <td><if condition="$vo[status] eq 1">已审核<else/>未审核</if></td>
		                   	<td class="text-center">
		                      	<a class="btn btn-info" href="{:U('Store/store_info',array('store_id'=>$vo['store_id']))}">查看</a>
		                      	<a class="btn btn-info" href="{:U('Store/store_info_edit',array('store_id'=>$vo['store_id']))}">编辑</a>
		                      	<a class="btn btn-danger" onclick="delfunc(this)" data-url="{:U('Store/store_del')}" data-id="{$vo.store_id}">删除</a>
				     		</td>
		                   </tr>
		                  </foreach>
		                   </tbody>
		                 <tfoot>
		                 
		                 </tfoot>
		               </table>
	               </div>
	          </div>
              <div class="row">
              	    <div class="col-sm-6 text-left">
              	    	<button class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button>
              	    </div>
                    <div class="col-sm-6 text-right">{$page}</div>		
              </div>
	          </div>
	        </div>
       	</div>
       </div>
   </section>
</div>
</body>
</html>   
